*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
}
.banner{
    background-color: rgb(49, 159,225);
    height: 30vh;
    width: 100%;
}

.titulo{
    font-size: 2em;
    color: rebeccapurple;
}
.parrafo{
    font-size: 30px;
}
.banner-dos{
    background-color: rgb(72, 216, 125);
    height: 20vh;
}
.banner-medio{
    height: 20vh;
    background-color: rgb(158, 228, 28);
}
.banner-tres{
    height: 30vh;
    background-color: rgb(224, 225, 49);
}
.banner-cuatro{
    background-color: rebeccapurple;
    min-width: 50%;
    height: 40vh;
}
.banner-cinco{
    width: 300px;
    height: 300px;
    border: 12px solid red;
}